:root {
  --primary-static-color: #FBDC57;
  --secondary-static-color: #222222;
  --primary-color: var(--primary-static-color);
  --secondary-color: var(--secondary-static-color);
  background-color: var(--primary-color); /* Make background aesthetic. */
  touch-action: manipulation; /* Double-tapping won't zoom on mobile devices! */
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: var(--secondary-static-color);
    --secondary-color: var(--primary-static-color);
  }
}

#A\#0 { /* The first A# key needs special positioning. */
  margin-left: 30%;
  position: absolute;
}

.C\# {
  margin-left: 9%;
  position: absolute;
}

.D\# {
  margin-left: 24%;
  position: absolute;
}

.F\# {
  margin-left: 52%;
  position: absolute;
}

.G\# {
  margin-left: 66%;
  position: absolute;
}

.A\# {
  margin-left: 80%;
  position: absolute;
}

.Accidental {
  background: linear-gradient(45deg, #222 0%, #555 100%); /* See below. */
  border-bottom-left-radius: 4px; /* Thanks to https://codepen.io/zastrow/pen/oDBki. */
  border-bottom-right-radius: 4px; /* Thanks to https://codepen.io/zastrow/pen/oDBki. */
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, /* See above. */
    0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
  color: ivory; /* We want to be able to see text. */
  cursor: pointer; /* Let users know accidental keys are clickable! */
  font-size: 2vh;
  height: 75%; /* Sharp and flat keys traditionally don't extend the full length. */
  width: 4vh; /* Each key should at least be wide enough to fit its text. */
}

.Accidental.active { /* Thanks to https://codepen.io/zastrow/pen/oDBki. */
  background: linear-gradient(to right, #444 0%, #222 100%); /* See above. */
}

.Keyboard {
  border-bottom-right-radius: 5%;
  display: flex; /* Keyboards typically have a horizontal layout, not a vertical one. */
  height: 25%; /* We want the keyboard to have the appropriate vertical height. */
  padding-top: 5vh; /* Stop Keyboard/Waveform element overlapping on small screens */
  position: absolute;
  top: 15%;
  user-select: none; /* Pressing a key shouldn't highlight text. */
  -webkit-user-select: none; /* Pressing a key shouldn't highlight text. */
}

.NonAccidental {
  background-color: ivory; /* Keyboard keys are typically ivory-colored. */
  border-bottom: 1px solid gray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px solid gray;
  color: black; /* We want to be able to see text. */
  cursor: pointer; /* Let users know non-accidental keys are clickable! */
  text-align: center;
  width: 5vmin; /* Give the keys plenty of width. */
}

.NonAccidental.active { /* Thanks to https://codepen.io/zastrow/pen/oDBki. */
  background: linear-gradient(to bottom, ivory 0%, #e9e9e9 100%); /* See above. */
  box-shadow: 2px 0 3px rgba(0,0,0,0.1) inset, -5px 5px 20px rgba(0,0,0,0.2) inset,
    0 0 3px rgba(0,0,0,0.2); /* Thanks to https://codepen.io/zastrow/pen/oDBki. */
}

.NonAccidentalLabel {
  font-size: 3vh;
  opacity: 50%; /* Have less emphasis for labels on non-accidental keys. */
  position: relative; /* This is necessary to position labels at the bottom of keys. */
  top: 80%; /* Accidentals hide labels if the labels aren't far enough from the top. */
}

.Octave {
  display: flex; /* Make octaves appear horizontally, not vertically. */
  position: relative; /* Makes flat and sharp keys appear properly. */
}

.Volume, .WaveSelector {
  color: var(--secondary-color); /* Make text contrast with background color. */
  font-size: 5vh; /* Really make the "Volume" text stand out! */
  height: 0.01%; /* Show the volume slider almost immediately below the volume text. */
  left: 50%; /* Center the volume section in the center of the screen. */
  margin-left: -40vmin; /* Keep the volume text centered even in small windows sizes. */
  position: fixed; /* We always want the volume slider and its text in the center. */
  text-align: center; /* We want the volume slider and its text centered. */
  width: 80vmin; /* Keep the volume text centered even in small windows sizes. */
}

.Volume {
  top: 50%; /* Show the volume section below the keyboard. */
}
